---
const now = new Date();
---

<footer class="l-footer">
  <div class="l-wrapper">
    <div class="l-container">
      <div class="l-inner">
        <div class="__block-1">
          <span class="u-block u-align-center">© {now.getFullYear()} startify5</span>
        </div>
      </div>
    </div>
  </div>
</footer>
